<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add
			key ="csRecipeDB"
			value ="Data Source = DESKTOP-I5G5799\SQLEXPRESS; Initial Catalog = RecipeDb; Integrated Security = true"
			/>
	</appSettings>
	
</configuration>